.main-content {
    width: 50vw;
    height: 50vh;
    margin: 100px auto;
}

.btn {
    margin-right: 10px;
}

.collapse-container {
    width: 100%;
    height: 0;
    
}

.open {
    height: 100px;
    animation-name: collapse;
    animation-duration: 250ms;
    animation-timing-function: linear;
}

.close {
    overflow: hidden;
    animation-name: collapse;
    animation-duration: 250ms;
    animation-direction: reverse;
}

@keyframes collapse {
    from {
        height: 0;
        overflow: hidden;
    }

    to {
        height: 100px;
        overflow: visible;
    }
}